/* selectors: tag,class,id*/

p,h1{
    color: green;
}
.text{
    color: brown;
}
.font{
    font-size: 25px;
}
#bg{
    color: lightgoldenrodyellow;
}
#bh{
    background-colorcolor: blueviolet;
}












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































